html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
}

#tasks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
}

#boards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
}

.taskList {
    max-width: 1200px;
}

.taskDescription {
    white-space: pre-line;
}

.board {
    width: 300px;
    height: 150px;
    margin: 0 1rem;
}

#boardLists {
    width: 90%;
}

#logo {
    width: 3rem;
    margin-right: .25rem;
}